/* Reset - Base */
h1,
h2,
h3,
p {
  margin: 0;
}

h1,h2 {
    text-align: center;
    color: #FFFFEE;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


a {
  color: #000;
  text-decoration: none;
}


body {
    display: flex;
    flex-flow: column;
    font-family: "Lato", sans-serif;
}


header{
    height: 100vh;
    background-image: url('../img/pc_desk2.jpg');
    background-size: cover;
    background-position: center;
}



/* http://uigradients.com/#Dawn */

h1 {
    background: -webkit-linear-gradient(left,#F3904F,#3B4371);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 */   
    color: #757F9A;
}

.text {
    display: flex;
    flex-flow: column;
    margin-top: 3em;
}
@media (min-width: 480px) {
    .text {
        margin-top: 10vh;
    }
    body {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) {
    .text {
        margin-top: 10vh;
        font-size: 4em;
    }
    body {
        font-size: 1.6em;
    }
}

.text2 {
    font-size: 1.2em;
}

/* Section Contact */

section {
    height: 100vh;
   /* background-color: #222; */
    background-image: url('../img/coding%20.jpg');
    background-size: 330%;
}



.contact {
    display: flex;
    flex-flow: column;
    
}

.contact h2 {
    margin-top: 2em;
    color: #FFFFEE;
}

.contact a {
    color: #FFFFEE;
}

.contact .actions {
    display: flex;
    flex-flow: column;
    margin: auto;
    margin-top: 4em;
}

.tel {
    margin-top: 4em;
}


/* Footer */

footer {
    min-height: 10vh;
    background-color: #757F9A;
    display: flex;
}

footer ul {
    display: flex;
    flex-flow: row;
    margin-top: 1em;
}
@media (min-width: 480px) {
    footer ul {
        margin-top: 0.4em;
    }
}

footer a {
    font-size: 1.6em;
}

footer li {
    margin: auto;
}