/* Reset - Base */
h1,
h2,
h3,
p {
  margin: 0;
}

h1,h2 {
    text-align: center;
    color: #FFFFEE;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


a {
  color: #000;
  text-decoration: none;
}


body {
    display: flex;
    flex-flow: column;
    font-family: "Lato", sans-serif;
}


header{
    height: 100vh;
    background-image: url('../img/pc_desk.jpg');
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    flex-flow: column;
}

.header .header__title {
    background: -webkit-linear-gradient(left,#F3904F,#3B4371);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-flow: column;
    margin-top: 3em;
}
@media (min-width: 480px) {
    .header .header__title {
        margin-top: 10vh;
    }
    .header .header__text {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) {
    .header .header__title {
        margin-top: 10vh;
        font-size: 4em;
    }
    .header .header__text {
        font-size: 1.6em;
    }
}

.header .header__text {
    font-size: 1em;
    text-shadow: 0 0 10px #000000;
}

@media (min-width: 480px) {
    .header .header__text {
    font-size: 1.2em;
    }
}

.header .header__button {
    color: #FFFFEE;
    margin: auto;
    align-items: flex-end;
}

.header .header__button {
    color: #FFFFEE;
    background-color: rgba(34,34,34,0.7);
    border-radius: 4px;
    padding: 0.3em;
}

.header .header__button:hover {
    background-color: rgba(34,34,34,0.9);
}

/* Section Contact */

.contact {
    height: 100vh;
    background-image: url('../img/coding.jpg');
    background-size: 1200px;
}
@media (min-width: 480px) {
    section {
        background-size: 1600px;
    }
}

.contact {
    display: flex;
    flex-flow: column;
    margin: auto;
    align-content: space-around;
    margin-top: 7em;
}

.contact .contact__text {
    margin-top: 2em;
    color: #FFFFEE;
}

.contact .contact__actions {
    color: #FFFFEE;
    background-color: rgba(34,34,34,0.7);
    border-radius: 4px;
    padding: 0.3em;
}

.contact .contact__actions:hover {
    background-color: rgba(34,34,34,0.9);
}

.actions .actions__tel {
    margin-top: 4em;
}

/* Footer */

.footer {
    min-height: 10vh;
    background-color: rgba(34,34,34,1);
}

.footer .footer__ul {
    display: flex;
    flex-flow: row;
    margin-top: 1em;
}
@media (min-width: 480px) {
    .footer .footer__ul {
        margin-top: 0.4em;
    }
}

.footer .footer__list {
    margin: auto;
}

.footer .footer__icon {
    font-size: 1.6em;
    background-color: #222;
    padding: 0.23em;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 4px;
}

.footer .footer__icon:hover {
    color: #222;
    background-color: #000;
}
